streamlit
langchain-community
pydantic
python-dotenv
faiss-cpu
sentence-transformers
openai
tiktoken
langchain[all]
langchain-huggingface
chromadb
langchain.chains
langchain.memory
langchain.prompts
langchain.chat_models
